.accordion-item {
  color: whitesmoke;
  background-color: #212529FF;
}

.accordion-button {
  color: whitesmoke;
  background-color: #1e2428;
}

.accordion-button:not(.collapsed) {
  color: whitesmoke;
  background-color: #1b3650;
}

.progress-bar {
  color: black;
  background-color: #52cef6;
}
