.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.footer {
    background-color: #282c34;
}

.footer > small > a {
    color: #61dafb;
}

.page {
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
.home{
    background-color: #024D5F;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navbar-brand {
    cursor: pointer;
}

.nav-item {
    color: white;
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.nav-item > .active {
    /*border-bottom: 2px solid #fff;*/
    color: #53d2fa;
}

.indicator-line {
    border-radius: 5px;
    height: 5px;
    width: 30px;
}

.active > hr {
    width: 50px;
}

.home {
    font-family: "Macho", serif;
}

.highlight{
    color: #FA15D4;
}
